@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.text {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 35px;
}

.colorh1 {
    color: #a6292c;
}

.footer-list {
    padding: 0 20px;
    line-height: 50px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}